
.campaign{
    background-color: #F9F9FF;
   
    padding: 80px 0;
    .campaign-heading{
       
        
        
        text-align: center;
        
        margin-bottom: 48px;
        h3{
            
            font-size: 32px;
            font-weight: 600;
        }
        p{
            max-width: 768px;
            color: #667085;
            font-size: 20px;
            font-weight: 400;
            margin: 30px auto;
        }

    }
    .campaign-cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
         gap:27px;
        .campaign-card{
            height: 597px;
            width: 352px;
            
            
            border-radius: 20px;
            header{
                font-family: 'DM Sans',sans-serif;
                padding-left:32px ;
                font-weight: 700;
                font-size:18px;
                text-align: start;
              
                padding-top: 24px;
            }
            p{
                font-family: 'DM Sans',sans-serif;
                padding-left:32px ;
                font-weight: 400;
                font-size:14px;
                color: #7C7D82;
                
                padding-right: 30px
            }
            footer{
                font-family: 'DM Sans',sans-serif;
                padding-left:32px ;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-weight: 700;
                font-size:16px;
                color:#1D6FA3;
                gap: 10px;
            }
        }
        

        
    }
}