.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    
    position: relative;
    background-color: #F9F9FF;
    .btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 500;
    &:hover{
      color: rgba(77, 28, 3, 0.34);
    }
  }
  #prevBtn {
    left: 20px;

  }
  
  #nextBtn {
    right: 20px;
  }
  }
  
  .carousel {
    
   
   
    overflow: hidden;
    
    width: 100%;
    
  }
  
  .item-list {
    display: flex;
    flex-direction: row;
    
    transition: transform 0.5s ease-in-out;
    max-width: 1200px;
    
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    // height: 400px; // Adjust the height as needed
  }
  
  .item {
    
    flex: 0 0 25%;
    
    
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
 
    height: 100%;
    
    &:not(.active) {
      display: none; // Ensure only active items are displayed
    }
  }
  
  .item.active {
    opacity: 1;
    
  }
  
  
  

  
  @media (max-width: 768px) {
    .item {
      flex: 0 0 33.33%;
    }
  }
  
  @media (max-width: 480px) {
    .item {
      flex: 0 0 100%;
      
    }
  }
  