.footer{
    
    width: 100%;
    .footer_log{
     background:linear-gradient(135deg, rgba(51, 135, 215, 0.6),rgba(9, 49, 87, 0.6)), url('/images/footer-image.png');
       }
    .footer_bookmark{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-weight: 400;
        font-size: 14px;
        color: grey;
    }
}