.latest{
    background-color: #F9F9FF;
    height: auto;
    padding: 80px 0 ;
    box-sizing: border-box;
    width: 100%;
    padding: 80px 0;
    @media only screen and  (max-width:400px){
        text-align: left;
        padding: 80px 10px;
        
    }
    .latest-heading{
        text-align: center;
        margin-bottom: 48px;
        
        h3{
            
            font-size: 32px;
            font-weight: 600;
        }
        p{
            
            color: #667085;
            font-size: 20px;
            font-weight: 400;
        }

    }
    .latest-cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap:26px;
        
        .latest-card{
            background-color: white;
            border-radius: 20px;
            padding: 20px 30px;
            @media only screen and  (max-width:400px){
                text-align: left;
                padding: 20px 10px;
                
            }
            div{
                display: flex;
                flex-direction: row;
                align-items: center;
                span{
                    padding: 10px;
                    background-color: lightblue;
                    border-radius:12px ;
                    margin-right: 2px;
                    color: rgb(222, 36, 222);
                }
               
                color: rgb(137, 132, 132);
            }
            header{
                
                
                
                font-size: 24px;
                font-weight: 600;
                text-align: left;
                padding-top: 24px;
            }
            p{
                width: 280px;
            
                color: #7C7D82;
                
               font-size: 16px;
               font-weight: 400;
               text-align: left;
               
            }
            footer{
                font-family: 'DM Sans',sans-serif;
               
                display: flex;
                flex-direction: row;
                align-items: center;
                font-weight: 700;
                font-size:16px;
                color:#1D6FA3;
                gap: 10px;
            }
        }
        
    
        
    }
   span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    button{
        border: 1px solid #1D6FA3;
        border-radius: 4px;
        padding: 10px 16px;
        background-color:#F9F9FF ;
        font-weight: 400;
        font-size: medium;
        margin-top: 42px;
        align-self: center;
    }
}}